<<<<<<< Updated upstream
[project]
name = "imu-logger"
version = "0.1.0"
description = "IMU data logging and state detection for rocket payload"
readme = "README.md"
requires-python = ">=3.10"

dependencies = ["pandas", "firm-client"]

# UV:
[tool.uv]
python-preference = "only-managed"

[build-system]
requires = ["uv_build>=0.9.5,<0.10.0"]
build-backend = "uv_build"
=======
>>>>>>> Stashed changes
